<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete item</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="./../css/navigation.css"/>
    <link rel="stylesheet" href="./../css/account.css" />
    <link rel="stylesheet" href="./../../node_modules/@fortawesome/fontawesome-free/css/all.css">
  </head>
  <body>
    <!-- START OF NAVIGATION -->
  <div class="navigation">
    <a class="active" href="index.html"><i class="fa fa-fw fa-home"></i> Home</a>
    <div class="dropdown">
      <button class="dropbtn" id="user-dropbtn"><i class="fa fa-fw fa-user"></i> Account</button> 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="account.html">Show user</a>
        <a href="updateUser.html">Update user</a>
        <a id="delete-user" href="deleteUser.html">Delete user</a>
      </div>
    </div>
      <div class="dropdown">
      <button class="dropbtn" id="user-dropbtn"><i class="fa fa-puzzle-piece"></i> Items for sale</button> 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="itemList.html">Show items</a>
        <a href="createItem.html">Create item</a>
        <a href="updateItem.html">Update item</a>
        <a id="delete-item" href="deleteItem.html">Delete item</a>
      </div>
    </div> 
    <a href="login.html" id="logout"><i class="fa fa-sign-out-alt"></i> Logout</a>
  </div>
  <!-- END OF NAVIGATION -->
<script src="./../js/deleteItem.js"></script>
<script src="./../js/logout.js"></script>
</body>
</html>