@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

body { 
  font-family: 'Lato', sans-serif;
}
#createItemForm{
  width: 40%;
  margin-left: 80px;
}

input[type="text"], select { 
  padding: 0.5em;
  width: 250px;;
  display: inline-block;
}